<div class = "page-header"><h3>Edit <%= resource_name.to_s.humanize %></h3></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

<div class="panel panel-primary">
  <div class = "panel-body">
    <table class = "table">

      <tr>
        <div class="field">
          <td><strong><%= f.label :email %></strong></td>
          <td><%= f.email_field :email, autofocus: true %></td>
        </div>
      </tr>

      <tr>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></strong></td>
          <td><%= f.password_field :password, autocomplete: "off" %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label :password_confirmation %></strong></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></strong></td>
          <td><%= f.password_field :current_password, autocomplete: "off" %></td>
        </div>
      </tr>
    </table>
  </div>
</div>

<center><div class="actions">
  <%= f.submit "Update" %>
</div></center>
<% end %>

<div class= "page-header"><h3>Delete Account</h3></div>

<p> Want to delete your account account?  <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<br />

<div class = "btn-group" role="group">
  <%= link_to "Back", :back, class:"btn btn-default" %>
</div>

