<div class="page-header"><h3>Resend unlock instructions</h3>

	<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	<%= devise_error_messages! %>


	<div class="panel panel-primary">
		<div class = "panel-body">
			<table class = "table">

				<tr>
					<div class="field">
						<td><strong><%= f.label :email %></strong></td>
						<td><%= f.email_field :email, autofocus: true %></td>
					</div>
				</tr>
			</table>
		</div>
	</div>


	<center><div class="actions">
		<%= f.submit "Resend unlock instructions" %>
	</div></center>
	<% end %>

	<!--<%= render "devise/shared/links" %>-->
