<div class = "page-header"><center><h2>View Statistics</h2></center></div>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100%; }
  body { height: 100%; margin: 0px; padding: 0px;  }
</style>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<!-- Creating an array of the the names and lat long -->

<script type="text/javascript">
    //document.write("H1");
    //document.write("<br />");
    var array_loc = [];
    //document.write(array_loc);
    //var i=0;
  </script>

  <% @student_applications.each do |student_application| %>

  <script type="text/javascript">
    //document.write(i);
  //  document.write("In script");
    //document.write('<%= student_application.address %>');
    array_loc.push(['<%= student_application.city %>',<%= student_application.latitude %>,<%= student_application.longitude %>]);
    //array_loc[i] = "Shraddha";
    //  document.write(array_loc);
    i=i+1;
  </script>
 <% end %>

  <script type="text/javascript"
  src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<body>
  <div id="map_canvas" style="width:55%; height:60%; margin: 0 auto 0 auto"></div>
  <center><b><i> *****Markers show the locations of all the applicants***** </i></b></center>
  <br /><br />
  <div class="panel panel-primary">
    <div class = "panel-body">

  <script type="text/javascript">
    //document.write("Hello");


    //  document.write(array_loc);
    var map = new google.maps.Map(document.getElementById('map_canvas'), {
      zoom: 1,
      minZoom: 1,
      center: new google.maps.LatLng(30,-20),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, j;

    for (j = 0; j < array_loc.length; j++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(array_loc[j][1], array_loc[j][2]),
        size: new google.maps.Size(100, 100),
        map: map
      });


      google.maps.event.addListener(marker, 'click', (function(marker, j) {
        return function() {
          infowindow.setContent(array_loc[j][0]);
          infowindow.open(map, marker);
        }
      })(marker, j));
    }

  </script>

  <hr />

  <b> Total Number of Applicants : </b>&nbsp;&nbsp;&nbsp;<%= StudentApplication.count %>
  <%
  count_admitted = 0
  count_rejected = 0
  @app_status = AppStatus.all
  @app_status.each do |app_status|
   %>
   <%
   if app_status.status == true
    count_admitted = count_admitted + 1
  elsif app_status.status == false
    count_rejected = count_rejected + 1
  end
end
%>
<hr />
<b> Number of Admitted Students : </b>&nbsp;&nbsp;&nbsp;<%= count_admitted %>
<hr />
<b> Number of Rejected Students : </b>&nbsp;&nbsp;&nbsp;<%= count_rejected %>

<hr />
<div class = "piecharts" style = "text-align:center">
<b> Percentage of Applicants based on GPA </b>
<%= pie_chart StudentApplication.group(:gpa).count %>
<hr />
<b> Percentage of Applicants based on Address </b>
<%= pie_chart StudentApplication.group(:state).count %>
<hr />
<hr />
</div>
</div></div>
