<%= form_for(@student_application) do |f| %>
  <% if @student_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_application.errors.count, "error") %> prohibited this student_application from being saved:</h2>

      <ul>
      <% @student_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <!-- <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div> -->
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email_id %><br>
    <%= f.text_field :email_id %>
  </div>
  <div class="field">
    <%= f.label :gpa %><br>
    <%= f.text_field :gpa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
