<%= form_for(@student_application, :html => { :multipart => true }) do |f| %>
<% if @student_application.errors.any? %>
<div id="error_explanation">
  <h3><%= pluralize(@student_application.errors.count, "error") %> prohibited this student_application from being saved:</h3>

  <ul>
    <% @student_application.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="alert alert-warning" role="alert">
  <ul>
    <li><i>Resume, SOP and LOR need to be PDF files</i></li>
    <li><i>GPA needs to be between 3.0 - 4.0</i></li>
  </ul>
</div>


<div class="panel panel-primary">
  <div class = "panel-body">
    <table class = "table">

      <tr>
        <div class="field">
          <td><strong><%= f.label :name %></strong></td>
          <td><%= f.text_field :name %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label "Date of Birth" %></strong></td>
          <td><%= f.date_select :dob, :start_year => 1950 %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label :phone %></strong></td>
          <td><%= f.text_field :phone %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label "Email ID" %></strong></td>
          <td><%= f.text_field :email_id %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label :gpa %></strong></td>
          <td><%= f.text_field :gpa %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label "Street Address" %></strong></td>
          <td><%= f.text_field :address %></td>
        </div>
      </tr>


      <tr>
        <div class="field">
          <td><strong><%= f.label :city %></strong></td>
          <td><%= f.text_field :city %></td>
        </div>
      </tr>


      <tr>
        <div class="field">
          <td><strong><%= f.label :state %></strong></td>
          <td><%= f.text_field :state %><i>(Two letter initials : eg. CA)</i></td>
        </div>
      </tr>


      <tr>
        <div class="field">
          <td><strong><%= f.label :country %></strong></td>
          <td><%= f.text_field :country %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label :resume %></strong></td>
          <td><%= f.file_field :resume %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label "Statement Of Purpose" %></strong></td>
          <td><%= f.file_field :sop %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label "Letter Of Recommendation" %></strong></td>
          <td><%= f.file_field :lor %></td>
        </div>
      </tr>
    </table>
  </div>

</div>

<center><div class="actions">
  <%= f.submit "Submit", class: "btn btn-primary" %>
</div></center>
<% end %>
