<form>

  <div><%= form_for(@student_application) do |f| %></div>
  <% if @student_application.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@student_application.errors.count, "error") %> prohibited this student_application from being saved:</h3>

    <ul>
      <% @student_application.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="panel panel-primary">
    <div class = "panel-body">
      <table class = "table">

        <tr>
          <div class="field">
            <td><strong><%= f.label :name %></strong></td>
            <td><%= f.text_field :name %></td>
          </div>
        </tr>

        <tr>
         <div class="field">
          <td><strong><%= f.label :phone %></strong></td>
          <td><%= f.text_field :phone %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label :email_id %></strong></td>
          <td><%= f.text_field :email_id %></td>
        </div>
      </tr>

      <tr>
       <div class="field">
        <td><strong><%= f.label :gpa %></strong></td>
        <td><%= f.text_field :gpa %>
        </div>
      </tr>

    </table>
  </div>
</div>

<center><div class="actions">
  <%= f.submit %>
</div></center>

<%end%>

</form> 









