<%= form_for(@student_application) do |f| %>
<% if @student_application.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@student_application.errors.count, "error") %> prohibited this student_application from being saved:</h2>

  <ul>
    <% @student_application.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="panel panel-primary">
  <div class = "panel-body">
    <table class = "table">
      
      <tr>
        <div class="field">
          <td><strong><%= f.label :name %></strong></td>
          <td><%= f.text_field :name %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label :phone %></strong></td>
          <td><%= f.text_field :phone %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label :email_id %></strong></td>
          <td><%= f.text_field :email_id %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label :gpa %></strong></td>
          <td><%= f.text_field :gpa %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong><%= f.label :address %></strong></td>
          <td><%= f.text_field :address %> <i>(City, State : eg. Los Angles, CA)</i></td>
        </div>
      </tr>

    </table>
  </div>
</div>

<center><div class="actions">
  <%= f.submit "Submit", class: "btn btn-primary" %>
</div></center>
<% end %>
