<h1>Editing Student Application</h1>

<% if student_signed_in? %>
<%= render 'form' %>

<%= link_to 'Show', @student_application %> |
<%= link_to 'Back', welcome_index_path %> |
<li><%= link_to 'Sign Out', destroy_student_session_path, :method => :delete %></li>

<% else %>
<li><%= link_to '<button type="button">Student Login</button>'.html_safe, new_student_session_path %></li>
<% end %>
