 <p id="notice"><%= notice %></p>
 <% if reviewer_signed_in? %>
 <div class = "page-header"><h3>Listing Student Applications</h3></div>

 <table class = "table">
  <thead>
    <tr>
      <th>Student</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Gpa</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_status = AppStatus.all 
    @app_status.each do |app_status|

      if app_status.reviewer_id == nil %>

      <% @student_applications.each do |student_application| %>
      <% if app_status.student_application_id == student_application.id %>
      <tr>

        <td><%= student_application.student_id %></td>
        <td><%= student_application.name %></td>
        <td><%= student_application.phone %></td>
        <td><%= student_application.email_id %></td>
        <td><%= (student_application.gpa).round(2) %></td>
        <td><%= student_application.address %></td>
        <td><%= link_to 'Show', student_application %></td>

      </tr>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
    </tbody>
  </table>
  
  <% end %>