<div class = "page-header"><h3>Student Application</h3></div>


<div class="panel panel-primary">
  <!--<div class="panel-title"><strong>Student Application<strong></div>-->
  <div class = "panel-body">
    <table class = "table">
      <% if student_signed_in? || reviewer_signed_in? %>
      <tr>
        <td><strong>Name:</strong></td>
        <td><%= @student_application.name %></td>
      </tr>

      <tr>
        <td><strong>Phone:</strong></td>
        <td><%= @student_application.phone %></td>
      </tr>

      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @student_application.email_id %></td>
      </tr>

      <tr>
        <td><strong>GPA:</strong></td>
        <td><%= (@student_application.gpa).round(2) %></td>
      </tr>

      <tr>
        <td><strong>Address:</strong></td>
        <td><%= @student_application.address %></td>
      </tr>

      <tr>
        <td><strong>RESUME:</strong></td>
        <td><%= link_to 'Resume', @student_application.resume.url, target:"_blank" %></td>
      </tr>

      <tr>
        <td><strong>Statement Of Purpose:</strong></td>
        <td><%= link_to 'SOP', @student_application.sop.url, target:"_blank" %></td>
      </tr>

      <tr>
        <td><strong>Letter Of Recommendation:</strong></td>
        <td><%= link_to 'LOR', @student_application.lor.url, target:"_blank" %></td>
      </tr>

    </table>
  </div>
</div>

<% end %>

<% if student_signed_in? %>
<center>
  <%= link_to 'Edit', edit_student_application_path(@student_application), class:"btn btn-primary" %>
  <%= link_to 'Back', welcome_index_path, class:"btn btn-primary" %>
  <%= link_to 'Destroy', @student_application, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
</center>

<% elsif reviewer_signed_in? %>
<center>
  <%= button_to 'Admit', {:controller => "student_applications", :action => "admitted", :student_application_id => @student_application.id, :reviewer_id => current_reviewer.id} , :method=>:post, :class => "btn btn-success"  %>
  <%= button_to 'Reject', {:controller => "student_applications", :action => "rejected", :student_application_id => @student_application.id, :reviewer_id => current_reviewer.id} , :method=>:post, :class => "btn btn-danger"  %>
  <%= link_to 'Back', welcome_index_path, class:"btn btn-primary" %>
</center>
<% end %>
