<p id="notice"><%= notice %></p>

<!--<div class="list-group">

  <h4 class="list-group-item-heading">Name</h4>
  <p class="list-group-item-text"><%= @student_application.name %></p>


  <h4 class="list-group-item-heading">Phone</h4>
  <p class="list-group-item-text"><%= @student_application.phone %></p>


  <h4 class="list-group-item-heading">Email</h4>
  <p class="list-group-item-text"><%= @student_application.email_id %></p>


  <h4 class="list-group-item-heading">GPA</h4>
  <p class="list-group-item-text"><%= @student_application.gpa %></p>

</div>

<p>
  <strong>Student:</strong>
  <%= @student_application.Student %>
</p> -->

<div class = "page-header"><h3>Student Application Information</h3></div>
<div class="panel panel-primary">
  <!--<div class="panel-title"><strong>Student Application<strong></div>-->
  <div class = "panel-body">
    <table class = "table">

      <tr>
        <td><strong>Name</strong>
          <td><%= @student_application.name %>
          </tr>

          <tr>
            <td><strong>Phone</strong>
              <td><%= @student_application.phone %>
              </tr>

              <tr>
                <td><strong>Email</strong>
                  <td><%= @student_application.email_id %>
                  </tr>

                  <tr>
                    <td><strong>GPA</strong>
                      <td><%= @student_application.gpa %>
                      </tr>
                    </table>
                  </div>
                </div>
                
                <div class = "btn-group" role="group">
                  <%= link_to 'Edit', edit_student_application_path(@student_application), class:"btn btn-default" %> 
                  <%= link_to 'Back', student_applications_path, class:"btn btn-default" %> 
                  <%= link_to 'Destroy', @student_application, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
                </div>
