<!DOCTYPE html>
<html>
<head>
  <title>RubyCoders</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if student_signed_in? %>
	<li><%= link_to '<button type="button">New Application</button>'.html_safe, new_student_application_path %></li>
	<ul>
		<li><%= link_to 'Account Settings', edit_student_registration_path %></li>
		<li><%= link_to 'Sign Out', destroy_student_session_path, :method => :delete %></li>
	</ul>
	<% else %>

	<ul>
		<li><%= link_to 'Sign Up', new_student_registration_path %></li>
		<li><%= link_to 'Sign In', new_student_session_path %></li>
	</ul>
	<% end %>
	<%= yield %>

</body>
</html>
